@model Teacher

<h2>Add Teacher</h2>
<hr />
<form asp-controller="Teacher" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="TeacherName" class= "form-label">Teacher Name</label>
        <input asp-for="TeacherName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TeacherSurname" class= "form-label">Teacher Surname</label>
        <input asp-for="TeacherSurname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TeacherMail" class="form-label">Mail</label>
        <input asp-for="TeacherMail" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TeacherPhone" class="form-label">Phone</label>
        <input asp-for="TeacherPhone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="StartingDate" class="form-label">Starting Date</label>
        <input asp-for="StartingDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>
